*.modulevalidation
*.pcm
*.strings-res
*.xcactivitylog
*.db
*.
*.nib
assetcatalog_generated_info.plist
*.mom
*.dia
*.xcbkptlist
*.xcfind
VersionInfo.plist
*.omo
DerivedData/Birthdays/Index/Debug/iphonesimulator9.0-x86_64/Birthdays.xcindex
PkgInfo
DerivedData
